body {
  background-color: #888;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  font-size: 3rem;
  color: #eee;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.subtitle {
  text-align: center;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

p {
 text-align: center;
  color: #000;
  
}

.calculator {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  padding: 20px 5px;
  overflow: hidden;
}



#display {
  width: 80%;
  height: 100px;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

#display-previous {
  font-size: 1rem;
  color: #888;
  margin-left: 10px;
  margin-top: 10px;
  align-self: flex-start;
  white-space: nowrap;
  overflow: hidden;
}
#display-current {
  margin-right: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
  white-space: nowrap;
  overflow: hidden;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
  row-gap: 10px;
}

button {
  background-color: #333;
  border: 1px solid #fff;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fff;
  color: #333;
}

#plus {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
  height: 110px;
}

footer {
  text-align: center;
  color: #eee;
  font-size: 0.8rem;
  margin-top: 40px;
}